<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mofotos</title>
  </head>
  <body>
    <h1>All Mofotos</h1>
    <ul>
      <% for(let mofoto of mofotos ) { %>
      <li><%= mofoto.title %></li>
      <% } %>
    </ul>
  </body>
</html>
