<%- layout('layouts/boilerplate') %>
<h1>All Mofotos</h1>
<div>
  <a href="/mofotos/new">Add Mofoto</a>
</div>
<ul>
  <% for(let mofoto of mofotos ) { %>
  <li><a href="/mofotos/<%= mofoto._id %>"><%= mofoto.title %></a></li>
  <% } %>
</ul>
